@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    background-image: url('../image/bg.jpg');
    font-family: PT Sans;
    color: #000000;
    margin: 0;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: inherit;
    color: inherit;
}

.loginWindow--Login {
    background-color: rgb(233, 233, 233, 0.8);
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

.icon--login {
    background-color: #CBCBCB;
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: 10px auto;
    font-size: 15pt;
    border: 1px solid Black;
}
.textbox--login {
    background-color: rgb(233, 233, 233, 0);
	border: 0px;
	border-bottom: 1px solid #000000;
    margin: 10px;
    width: 225px;
    font-size: 12pt;
    font-family: 'PT Sans';
    font-weight: 300;
    color: #000000;
}

.signin--login {
    width: 225px;
    margin: 5px;
    font-size: 12pt;
}


.register--signup {
    margin-right: 10px;
}

.signup--login > a {
    color: #0000BB;
}

@media screen and (max-width: 500px) {
    .loginWindow--Login {
        background-color: rgb(233, 233, 233, 0.8);
        width: 300px;
        height: 300px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .icon--login {
        background-color: #CBCBCB;
        width: 150px;
        height: 40px;
        line-height: 40px;
        margin: 5px auto;
        font-size: 12pt;
        border: 1px solid Black;
    }
    .textbox--login {
        background-color: rgb(233, 233, 233, 0);
        border: 0px;
        border-bottom: 1px solid #000000;
        margin: 5px;
        width: 125px;
        font-size: 8pt;
        font-family: 'PT Sans';
        font-weight: 300;
        color: #000000;
    }
    
    .signin--login {
        width: 125px;
        margin: 5px;
        font-size: 8pt;
    }
}
