@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    background-image: url("background.jpg");
    font-family: 'PT Sans', sans-serif;
}

#title {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-size: 32pt;
    text-align: center;
}

#row1, #row2, #row3 {
    text-align: center;
}

.select {
    padding: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

#bin {
    float: left;
    width: 14em;
    position: relative;
    margin-left: 25%;
    margin-bottom: 1em;
}

#counterWrapper {
    font-size: 15pt;
    float: right;
    position: relative;
    margin-top: 2em;
    margin-right: 25%;
}

.counter {
    text-align: center;
    background-color: white;
    width: 8em;
}

#moneyText {
    margin-top: 0.5em;
}