@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.btn-danger {
  background-color: green;
  border-color: green;
  float: right;
}

.container {
  background-image: url('bimage.jpg');
  opacity: 0.7;
  width: 100%;
  min-height: 1000px;
  font-family: 'Open Sans';
}

.container-fluid {
  background: white;
}
.logo {
  float: left;
}

.logo1 {
  width: 80%;
}

.navbar-nav {
  float: right;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse {
  margin: 0;
  border-color: white;
}
