@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-image: url('bimage.jpg');
  background-size: auto;
  margin-bottom: 2%;
  min-height: 700px;
}

.container {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background: white;
}

/* navbar */
.navbar {
  position: relative;
}

#navbarMenu {
  position: absolute;
  right: 2%;
}

.navbar-collapse .navbar-nav > .nav-item > a {
  color: green;
}

.navbar-collapse .navbar-nav > .nav-item > a:hover {
  color: black;
}

/* navbar animation */
.navbar-content ul li a,
.navbar-content ul li a:after,
.navbar-content ul li a:before {
  transition: all 0.5s;
}

.navbar-content ul li a {
  position: relative;
}
.navbar-content ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 2px;
}
.navbar-content ul li a:hover:after {
  width: 100%;
}
/* Login button */

.btn-danger {
  background-color: green;
  border-color: green;
  float: right;
  margin-top: 1%;
}

#Login-menu {
  visibility: hidden;
}

/*FAQ content*/

#FAQtitle {
  position: relative;
  margin-top: 2%;
  text-align: center;
}

#FAQtitle h2 {
  font-size: 35px;
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
}

#FAQtitle p {
  font-size: 16px;
  color: #7f7f7f;
  margin-bottom: 0;
}

#FAQp {
}

#FAQdrop {
  float: left;
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
}

/* drop down animation */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

p {
  margin-top: 3%;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  margin-bottom: 12px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.container {
  position: relative;
  min-height: 100px;
}

/* display-inline content */

.FAQcontent {
  margin-left: 0;
  display: inline-block;
}

#bottleImage {
  margin-top: 7%;
  margin-left: 5%;
  width: 40%;
}

.contain {
  position: relative;
}

@media (max-width: 1100px) {
  #bottleImage {
    margin-top: 0%;
    margin-left: 15%;
    width: 40%;
  }

  .FAQcontent {
    display: inline-block;
  }
  #FAQdrop {
    width: 50%;
    margin-left: 2%;
  }
  #FAQtitle {
    margin-top: 5%;
  }
}

@media (max-width: 1100px) {
  .FAQcontent {
    display: block;
  }
  #FAQdrop {
    width: 80%;
    margin-left: 10%;
  }

  #FAQtitle {
    margin-left: 10%;
    width: 80%;
  }
}
/* NavBar mobile 700px */

@media (max-width: 700px) {
  #navbarMenu {
    position: static;
  }

  .btn-danger {
    display: none;
    clear: both;
  }

  #Login-menu {
    visibility: visible;
  }
  .navbar-content ul li a:hover:after {
    width: 20%;
  }
  .navbar-content ul li a:after {
    right: auto;
  }
  #bottleImage {
    margin-left: 25%;
  }

  .FAQcontent img {
    padding-top: 15%;
    width: 100%;
  }
}
