.navbar {
  position: relative;
}

#navbarMenu {
  position: absolute;
  right: 2%;
}

.navbar-content {
  color: green;
}

/* navbar animation */

.navbar-collapse .navbar-nav > .nav-item > a {
  color: green;
}

.navbar-collapse .navbar-nav > .nav-item > a:hover {
  color: green;
}

.navbar-collapse .navbar-nav > .nav-item > a:link {
  color: black;
}

.navbar-collapse .navbar-nav > .nav-item > a:active {
  color: black;
}

.navbar-collapse .navbar-nav .nav-item > a:focus {
  color: black;
}

.navbar-collapse .navbar-nav .nav-item > a:before {
  content: ' (' attr(href) ')';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-collapse .navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Login button */

.btn-danger {
  background-color: green;
  border-color: green;
  float: right;
  margin-top: 1%;
}

/* mobile 1000px */

@media (max-width: 650px) {
  #navbarMenu {
    position: static;
  }

  .btn-danger {
    display: none;
    clear: both;
  }
}
