body {
  background-image: url("images/grad.png");
}

.btn-danger {
    float: right;
}

.about {
    text-align: center;
    margin: 50px;
    font-size: 50px;
}

.body {
    margin: auto;
    width: 70%;
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-image: url('bimage.jpg');
  background-repeat: no-repeat;
  margin-bottom: 2%;
  min-height: 1100px;
}

/*nav bar */

.navbar-inverse .navbar-nav > li > a {
  color: green;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: green;
}

.navbar-inverse .navbar-nav > li > a:link {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:active {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:focus {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn-danger {
  background-color: green;
  border-color: green;
  float: right;
}

.container-fluid {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background: white;
}
.logo {
  float: left;
}

.logo1 {
  width: 80%;
}

.navbar-nav {
  float: right;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse {
  margin: 0;
  border-color: white;
}

.markerdiv {
  width: 70%;
  margin: 50px;
}

.title {
  text-align: center;
}

#title {
  font-size: 60px;
}

#map {
  height: 500px;
  width: 80%;
  margin: auto;
}

.numberof{
  text-align: center;
}

#numberof {
  font-size: 30px;
}