.btn-danger {
  float: right;
}

.about {
  text-align: center;
  margin: 50px;
  font-size: 50px;
}

.body {
  margin: auto;
  width: 70%;
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-size: cover;
  background-image: url('images/bimage.jpg');
  background-repeat: no-repeat;
  margin-bottom: 2%;
  min-height: 1100px;
}

/*nav bar */

/* navbar */
.navbar {
  position: relative;
}

#navbarMenu {
  position: absolute;
  right: 2%;
}

.navbar-collapse .navbar-nav > .nav-item > a {
  color: green;
}

.navbar-collapse .navbar-nav > .nav-item > a:hover {
  color: black;
}

/* navbar animation */
.navbar-content ul li a,
.navbar-content ul li a:after,
.navbar-content ul li a:before {
  transition: all 0.5s;
}

.navbar-content ul li a {
  position: relative;
}
.navbar-content ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 2px;
}
.navbar-content ul li a:hover:after {
  width: 100%;
}
/* Login button */

.btn-danger {
  background-color: green;
  border-color: green;
  float: right;
  margin-top: 1%;
}

#Login-menu {
  visibility: hidden;
}

/* locator css */

.markerdiv {
  width: 70%;
  margin: 50px;
}

.title {
  text-align: center;
}

#title {
  font-size: 60px;
}

#map {
  height: 600px;
  width: 55%;
  border-style: groove;
  border-radius: 20px;
  float: left;
}

.numberof {
  text-align: center;
}

#numberof {
  font-size: 30px;
}

.locations {
  background-color: white;
  width: 40%;
  height: 600px;
  float: right;
  border-style: groove;
  border-radius: 20px;
}

<<<<<<< HEAD
.loc1,
.loc2,
.loc3 {
  padding: 10px;
}

@media (max-width: 1000px) {
  #map {
    width: 100%;
  }

  .locations {
    margin-top: 5%;
    width: 94%;
    margin-right: 2%;
    margin-bottom: 5%;
  }
}

/* NavBar mobile 700px */

@media (max-width: 700px) {
  #navbarMenu {
    position: static;
  }

  .btn-danger {
    display: none;
    clear: both;
  }

  #Login-menu {
    visibility: visible;
  }
  .navbar-content ul li a:hover:after {
    width: 20%;
  }
  .navbar-content ul li a:after {
    right: auto;
  }

  #map {
    width: 90%;
    margin-left: 5%;
  }

  .location {
  }

